# 이상값 처리하기

## Iris 데이터 받기

In [2]:
import pandas as pd    # pandas package import

# 데이터프레임의 컬럼명 지정

col = ["꽃받침길이", "꽃받침너비", "꽃잎길이", "꽃잎너비", "붓꽃종류"]

# 웹에 있는 CSV 파일 읽어와서 데이터프레임 df로 넣는다.

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names = col)

df

     꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
0      5.1    3.5   1.4   0.2     Iris-setosa
1      4.9    3.0   1.4   0.2     Iris-setosa
2      4.7    3.2   1.3   0.2     Iris-setosa
3      4.6    3.1   1.5   0.2     Iris-setosa
4      5.0    3.6   1.4   0.2     Iris-setosa
..     ...    ...   ...   ...             ...
145    6.7    3.0   5.2   2.3  Iris-virginica
146    6.3    2.5   5.0   1.9  Iris-virginica
147    6.5    3.0   5.2   2.0  Iris-virginica
148    6.2    3.4   5.4   2.3  Iris-virginica
149    5.9    3.0   5.1   1.8  Iris-virginica

[150 rows x 5 columns]

- 이상값 강제 삽입

In [3]:
df.iloc[0,0] = 50
df.iloc[1,0] = 55
df.iloc[0,1] = 40
df.iloc[1,1] = 100

In [5]:
df  # 이상갑이 삽입된 데이터셋 확인하기

     꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
0     50.0   40.0   1.4   0.2     Iris-setosa
1     55.0  100.0   1.4   0.2     Iris-setosa
2      4.7    3.2   1.3   0.2     Iris-setosa
3      4.6    3.1   1.5   0.2     Iris-setosa
4      5.0    3.6   1.4   0.2     Iris-setosa
..     ...    ...   ...   ...             ...
145    6.7    3.0   5.2   2.3  Iris-virginica
146    6.3    2.5   5.0   1.9  Iris-virginica
147    6.5    3.0   5.2   2.0  Iris-virginica
148    6.2    3.4   5.4   2.3  Iris-virginica
149    5.9    3.0   5.1   1.8  Iris-virginica

[150 rows x 5 columns]

## IQR Rule for Outliers (Interquartile Range) 기법

### 꽃받침길이에 관한 이상치 탐지

In [28]:
df1 = df["꽃받침길이"]   # 꽃받침길이 열만 떼어내어 df1에 저장하기
df1

0      50.0
1      55.0
2       4.7
3       4.6
4       5.0
       ...
145     6.7
146     6.3
147     6.5
148     6.2
149     5.9
Name: 꽃받침길이, Length: 150, dtype: float64

In [29]:
# 4분위 수 정하기

q1 = df1.quantile(0.25)    # 1사분위 지점
q3 = df1.quantile(0.75)     # 3사분위 지점

print("1사분위지점: ", q1)
print("3사분위지점: ",q3)

1사분위지점:  5.1
3사분위지점:  6.4

In [30]:
# IQR 계산하기

iqr = q3 - q1
print(iqr)

1.3000000000000007

In [70]:
# 상한값, 하한값 계산

lower = q1 - 1.5*iqr
upper = q3 + 1.5*iqr

print("lower: ",lower)
print("upeer: ",upper)

lower:  2.05
upeer:  4.05

In [71]:
# 상한값, 하한값을 벗어나는 데이터의 인덱스 값 계산

condition = (df1 > upper) | (df1 < lower)      # df1이 upper 보다 크거나, df1이 lower 보다 작은 데이터가 있는 경우 해당행에 True를 저장

In [72]:
outlier_index = df1.loc[condition].index.values   # 조건에 맞는 index 값을 가지고 옴
print("이상치가 있는 index: ",outlier_index)    # 이상값이 있는 index값을 출력

이상치가 있는 index:  [ 0  1 15 32 33 60]

### 꽃받침너비에 관한 이상치 탐지

In [73]:
df1 = df["꽃받침너비"]

q1 = df1.quantile(0.25)    # 1사분위 지점
q3 = df1.quantile(0.75)     # 3사분위 지점

print("1사분위지점: ", q1)
print("3사분위지점: ",q3)

iqr = q3 - q1
print(iqr)


lower = q1 - 1.5*iqr
upper = q3 + 1.5*iqr

print("lower: ",lower)
print("upeer: ",upper)

condition = (df1 > upper) | (df1 < lower)      # df1이 upper 보다 크거나, df1이 lower 보다 작은 데이터가 있는 경우 해당행에 True를 저장
outlier_index = df1.loc[condition].index.values   # 조건에 맞는 index 값을 가지고 옴
print("이상치가 있는 index: ",outlier_index)     # 이상값이 있는 index값을 출력

1사분위지점:  2.8
3사분위지점:  3.3
0.5
lower:  2.05
upeer:  4.05
이상치가 있는 index:  [ 0  1 15 32 33 60]

In [77]:
df1[outlier_index]    # 이상치가 있는 행 출력해 보기

0      40.0
1     100.0
15      4.4
32      4.1
33      4.2
60      2.0
Name: 꽃받침너비, dtype: float64

## 전체 열에 이상치 탐색하기

- df frame 전체 열을 대상으로 이상치를 탐색한다.

In [80]:
Q1 = df.quantile(0.25)    # 1사분위 지점
Q3 = df.quantile(0.75)     # 3사분위 지점

print(Q1)
print(Q3)

꽃받침길이    5.1
꽃받침너비    2.8
꽃잎길이     1.6
꽃잎너비     0.3
Name: 0.25, dtype: float64
꽃받침길이    6.4
꽃받침너비    3.3
꽃잎길이     5.1
꽃잎너비     1.8
Name: 0.75, dtype: float64

In [81]:
IQR = Q3 - Q1   # 전체 열에 대해서 수행이 된다.
print(IQR)

꽃받침길이    1.3
꽃받침너비    0.5
꽃잎길이     3.5
꽃잎너비     1.5
dtype: float64

In [82]:
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR

print("lower: ",lower)
print("upeer: ",upper)

lower:  꽃받침길이    3.15
꽃받침너비    2.05
꽃잎길이    -3.65
꽃잎너비    -1.95
dtype: float64
upeer:  꽃받침길이     8.35
꽃받침너비     4.05
꽃잎길이     10.35
꽃잎너비      4.05
dtype: float64

In [83]:
condition = (df > upper) | (df < lower)      # df가 upper 보다 크거나, df가 lower 보다 작은 데이터가 있는 경우 해당행에 True를 저장
condition = condition.any(axis= 1)   # df 전체에서 열방향으로 조건값(df > upper) | (df < lower) 필터 수행
outlier_df = df[condition]      # 조건값(최댓값 최솟값에 벗어나는 데이터)들만 outlier_df에 저장하기
outlier_df

C:\Users\cukuser\AppData\Local\Temp/ipykernel_16756/1642520624.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  condition = (df > upper) | (df < lower)      # df가 upper 보다 크거나, df가 lower 보다 작은 데이터가 있는 경우 해당행에 True를 저장
C:\Users\cukuser\AppData\Local\Temp/ipykernel_16756/1642520624.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  condition = (df > upper) | (df < lower)      # df가 upper 보다 크거나, df가 lower 보다 작은 데이터가 있는 경우 해당행에 True를 저장

    꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비             붓꽃종류
0    50.0   40.0   1.4   0.2      Iris-setosa
1    55.0  100.0   1.4   0.2      Iris-setosa
15    5.7    4.4   1.5   0.4      Iris-setosa
32    5.2    4.1   1.5   0.1      Iris-setosa
33    5.5    4.2   1.4   0.2      Iris-setosa
60    5.0    2.0   3.5   1.0  Iris-versicolor

In [84]:
outlier_index = df.loc[condition].index.values   # 조건에 맞는 index 값을 가지고 옴
outlier_index      # 이상치가 있는 index값

array([ 0,  1, 15, 32, 33, 60], dtype=int64)

### 이상값 처리

- 이상값에 대한 index를 구했으니, 이를 대체하거나 삭제하는 처리작업을 수행해야함

- 이상값 제거

In [85]:
df_new = df.drop(outlier_index)    # 이상값 index 행을 모두 제거

In [86]:
df_new

     꽃받침길이  꽃받침너비  꽃잎길이  꽃잎너비            붓꽃종류
2      4.7    3.2   1.3   0.2     Iris-setosa
3      4.6    3.1   1.5   0.2     Iris-setosa
4      5.0    3.6   1.4   0.2     Iris-setosa
5      5.4    3.9   1.7   0.4     Iris-setosa
6      4.6    3.4   1.4   0.3     Iris-setosa
..     ...    ...   ...   ...             ...
145    6.7    3.0   5.2   2.3  Iris-virginica
146    6.3    2.5   5.0   1.9  Iris-virginica
147    6.5    3.0   5.2   2.0  Iris-virginica
148    6.2    3.4   5.4   2.3  Iris-virginica
149    5.9    3.0   5.1   1.8  Iris-virginica

[144 rows x 5 columns]